body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url(/fonts/vendor/bootstrap-icons/bootstrap-icons.woff2?017203f08de6f4e2d40b4d746a0da2a5) format("woff2"),
            url(/fonts/vendor/bootstrap-icons/bootstrap-icons.woff?0f69dcdb26d3536aa3fec3f600ad5950) format("woff");
}

  [class^="bi-"]::before,
  [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bi-github::before { content: "\f3ed"; font-size: 3em; }


.login-box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;

    h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    input[type = "email"], input[type = "password"] {
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;

        &:focus {
            width: 280px;
            border-color: #2ecc71;
        }
    }

    input[type = "submit"] {
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
            background: #2ecc71;
        }
    }

    .oauth-github {
        width: 3em;
        background: none;
        display: block;
        color: white;
        //border: 2px solid #2ecc71;
        //padding: 14px 40px;
        //margin: 20px auto;
        border-radius: 100%;
        transition: 0.25s;
        text-decoration: none;

        &:hover {
            background: #2ecc71;
        }
    }

    .error {
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid red;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }

}
